.booking {
  margin: 32px 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.btn-date-block {
  margin: 16px 0 0 20px;
}

.floor-selection {
  margin: 16px 0 0 20px;
}

.floor-selection button {
  height: 24px;
  padding: 4px 6px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0px;
}

.floor-selection button:hover {
  background-color: rgba(0, 122, 255, 1);
}

.floor-selection button:focus {
  background-color: rgba(0, 122, 255, 1);
}
