.table {
  width: 1240px;
  overflow-x: auto;
  margin-top: 33px;
  padding-left: 20px;
  position: relative;
}

.table::-webkit-scrollbar {
  background: none;
}

.table::-webkit-scrollbar-thumb {
  background: rgba(114, 114, 114, 0.5);
  border-radius: 20px;
}

.table::-webkit-scrollbar-corner {
  background-color: transparent;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header-cell {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  position: sticky;
  top: 0;
}

.border {
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
